# Entornos virtuales
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
#.env

# Docker
*.log

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
