# Entornos virtuales
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
#.env

# Docker
*.log

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/


# Node modules (equivalente a .venv)
node_modules/

# Vite build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables (frontend también usa .env)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
.parcel-cache/

# Vite files
.vite/

# Coverage / testing
coverage/

# TypeScript (por si lo usás luego)
*.tsbuildinfo
